.add-note {
    text-align: center;
}

.add-note input {
    padding: 15px;
    border: 2px solid gray;
    margin-left: 10px;
    border-radius: 12px;
    width: 20%;
}

/* Icons */


.add-note .far.fa-plus-square {
    font-size: 29px;
    cursor: pointer;
}

.add-note .button-type {
    padding: 15px;
    font-size: 1.2rem;
    margin: 0 5px;
    border-radius: 15px;
    border: none;
}

.add-note .button-type:focus {
    background-color: darkslategrey;
}