.note-preview {
    text-align: center;
    background-color: #fff475;
    position: relative;
    max-width: 350px;
    min-height: 200px;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;

}

.note-preview .note-content {
    text-align: center;
    font-size: 1.5rem;
}

/* 
.note-editor {
    position: absolute;
    bottom: 5%;
    right: 5%;
    
}

.note-editor>* {
    cursor: pointer;
} */


/* Icons */
.note-preview .fas.fa-thumbtack {
    position: absolute;
    color: darkgrey;
    opacity: 0.5;
    left: 5%;
    top: 5%;
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.218s ease-in
}

.note-preview .fas.fa-thumbtack:hover {
    opacity: 1;
    transform: scale(1.3);
}