* {
    box-sizing: border-box;
}

body {
    background-color: #c7efff;
    color: rgb(36, 36, 36);
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0;
}
